<div class="wrapper">
  <div class="header-logo">
    <img src="assets/images/duelr-icon.svg"  alt="Logo">
    <h1>Legion</h1>
  </div>
  <div class="sign-up-buttons-container">
    <button mat-raised-button class="google-button" (click)="googleRegister()">
      <img src="assets/images/third-party/google.svg" alt="Google">
      Google
    </button>
    <button mat-raised-button class="facebook-button" (click)="facebookRegister()">
      <img src="assets/images/third-party/facebook.svg" alt="Facebook">
      Facebook
    </button>
  </div>
  <div>
    <p>- or -</p>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="emailRegister()">
    <h2>Create account</h2>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Enter a valid email please
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput [formControl]="passwordControl" [errorStateMatcher]="matcher"
             placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="
        passwordControl.hasError('numberValid') &&
        !passwordControl.hasError('required') &&
        !passwordControl.hasError('minlength') &&
        !passwordControl.hasError('capitalValid')">
        A password has at least one number
      </mat-error>
      <mat-error *ngIf="
        passwordControl.hasError('capitalValid') &&
        !passwordControl.hasError('required') &&
        !passwordControl.hasError('minlength') &&
        !passwordControl.hasError('numberValid')">
        A password has at least one capital letter
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
        A password has at least 8 characters
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="fireError" class="fire-error">
      {{fireError}}
    </mat-error>
    <div class="submit-button-container">
      <button mat-raised-button color="primary" [disabled]="registerForm.invalid || working" type="submit">Register</button>
      <div *ngIf="working">
        <mat-progress-spinner mode="indeterminate" color="primary" [diameter]="24"></mat-progress-spinner>
      </div>
    </div>
  </form>
  <p class="login-ref">Already have an account? <strong [routerLink]="'../login'">Login here</strong></p>
</div>
