<div class="color-root" [ngClass]="background">
  <b (click)="background = 'red'">primary:</b>
  <div class="prim-light" (click)="background = 'prim-light'">lighter</div>
  <div class="prim-def" (click)="background = 'prim-def'">default</div>
  <div class="prim-dark" (click)="background = 'prim-dark'">darker</div>
  <b (click)="background = 'red'">Accent:</b>
  <div class="acc-light" (click)="background = 'acc-light'">lighter</div>
  <div class="acc-def" (click)="background = 'acc-def'">default</div>
  <div class="acc-dark" (click)="background = 'acc-dark'">darker</div>
  <b (click)="background = 'red'">foreground:</b>
  <div class="for-base" (click)="background = 'for-base'">base</div>
  <div class="for-div" (click)="background = 'for-div'">divider</div>
  <div class="for-divs" (click)="background = 'for-divs'">dividers</div>
  <div class="for-dis" (click)="background = 'for-dis'">disabled</div>
  <div class="for-dis-but" (click)="background = 'for-dis-but'">disabled-button</div>
  <div class="for-dis-text" (click)="background = 'for-dis-text'">disabled text</div>
  <div class="for-hint" (click)="background = 'for-hint'">hint-text</div>
  <div class="for-sec" (click)="background = 'for-sec'">secondary-text</div>
  <div class="for-icon" (click)="background = 'for-icon'">icon</div>
  <div class="for-icons" (click)="background = 'prim-light'">icons</div>
  <div class="for-text" (click)="background = 'for-text'">text</div>
  <div class="for-slid-off" (click)="background = 'for-slid-off'">slider-off</div>
  <div class="for-slid-off-in" (click)="background = 'for-slid-off-in'">slider-off-inactive</div>
  <b (click)="background = 'red'">background:</b>
  <div class="back-stat" (click)="background = 'back-stat'">status-bar</div>
  <div class="back-app" (click)="background = 'back-app'">app-bar</div>
  <div class="back-back" (click)="background = 'back-back'">background</div>
  <div class="back-hov" (click)="background = 'back-hov'">hover</div>
  <div class="back-card" (click)="background = 'back-card'">card</div>
  <div class="back-dia" (click)="background = 'back-dia'">dialog</div>
  <div class="back-dis-but" (click)="background = 'back-dis-but'">disabled-button</div>
  <div class="back-rais-but" (click)="background = 'back-rais-but'">raised-button</div>
  <div class="back-foc-but" (click)="background = 'back-foc-but'">focused-button</div>
  <div class="back-sel-but" (click)="background = 'back-sel-but'">selected-button</div>
  <div class="back-sel-dis-but" (click)="background = 'back-sel-dis-but'">selected-disabled-button</div>
  <div class="back-dis-but-tog" (click)="background = 'back-dis-but-tog'">disabled-button-toggle</div>
</div>
