.new-chat-button-container {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.wrapper {
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

.header {
  padding: 20px;
  text-align: center;
}

.chat-preview {
  padding: 14px;
  border-top: solid 1px;
  display: flex;
  flex-direction: row;

  &:last-of-type {
    border-bottom: solid 1px;
  }

  p {
    margin: 0;
  }

  .image {
    width: 52px;
    height: auto;
    min-height: 100%;
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 52px;
      height: 52px;
    }
  }

  .body {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    >div {
      display: flex;
      flex-direction: row;
    }
  }

  .name {
    text-align: start;
    font-size: 14pt;
    margin-bottom: 4px;
    flex-grow: 1;
  }

  .timestamp {
    float: right;
    font-size: 10pt;
  }

  .last-message {
    overflow: hidden;
    height: 1.2em;
    display: -webkit-box;
    -webkit-line-clamp: 1; // amount of line you want
    -webkit-box-orient: vertical;
    flex-grow: 1;
  }

  .missed-count {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 10pt;
    text-align: center;
  }
}
