<div *ngIf="bannerService._banners | async as banners">
  <div *ngFor="let banner of banners; let i = index" class="notification" [class]="banner.type">
    <button mat-icon-button aria-label="Example icon-button with a heart icon" class="close" (click)="bannerService.closeBanner(banner, i)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-icon matSuffix >{{banner.icon}}</mat-icon>
    <div class="message">
      <p class="title">{{banner.title}}</p>
      <p class="text">{{banner.text}}</p>
    </div>
  </div>
</div>
