<p>page works!</p>
<button mat-button color="accent" routerLink="/social">Chat</button>
<button mat-button color="accent" routerLink="/user">Login</button>
<button mat-button color="accent" routerLink="/user/register">Register</button>
<button mat-button color="accent" routerLink="/user/first-use">First use</button>
<hr>
<button mat-raised-button color="primary" (click)="createChat()">createChat</button>
<button mat-raised-button color="primary" (click)="createPlaygroup()">createPlaygroup</button>
