<p>page works!</p>
<button mat-raised-button color="primary" (click)="register()">Register</button>
<button mat-raised-button color="primary" (click)="chat()">Chat</button>
<button mat-raised-button color="primary" (click)="createChat()">createChat</button>
<button mat-raised-button color="primary" (click)="createPlaygroup()">createPlaygroup</button>
<button mat-raised-button color="accent" routerLink="/user">Login</button>
<div style="height: 3000px; width: 100px; background-color: red;"></div>
